{% extends 'layouts/base_admin.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->

<div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">All User Page</h5>
            </div>
            <div class="d-block mb-4 mb-md-0 col-4 col-md-2">
				<div class="btn-toolbar mb-10 mb-md-0 ">
					<div class="btn-group">	
				
					<a href="/admin/home/customuser/add/" class="btn btn-sm btn-outline-gray-600 btn-success">
						<i class="fa fa-plus-circle"></i>
						Add user
					</a>	
				
					</div>
				</div>
				
			</div>
        </div>
    </div>
    
</div>
<!-- [ breadcrumb ] end -->
<div class="row">
    

    <table id="myDataTable" class="display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th rowspan="1" >No.</th>
                <th rowspan="1" >Name</th>
                <th rowspan="1" >Account Type</th>               
                
                <th rowspan="1" >Settings</th>
                <th colspan="1" >Notify History</th>
                
                
                <!-- Add more table headers as needed -->
            </tr>
            
        </thead>
        
    </table>
    
</div>

<!-- [ Main Content ] end -->

<script>
    
   
    $(document).ready(function() {
        $.fn.dataTable.ext.errMode = 'none';
        const dataMap = new Map();
        function numberRender(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10000) / 10000;
                
            }
        }
		function typeRender(data, type, row) {
            if(data != undefined){
				if(data == 0)
                	return "Website";
				else
				return "Admin";
                
            }
			
        }
        function nameRender(data, type, row) {
            if(data != undefined){
                return "<a href='http://127.0.0.1:8000/admin/home/customuser/" + row.id + "/change/' >" + data + "</a>";
                
            }
        }
        function settingsRender(data, type, row) {
            if(data != undefined){
                return "<a href='http://127.0.0.1:8000/usersettings/" + row.id + "' >" + "View Settings" + "</a>";
                
            }
        }
		function notifyRender(data, type, row) {
            if(data != undefined){
                return "<a href='http://127.0.0.1:8000/usernotify/" + row.id + "' >" + "View Notify History" + "</a>";
                
            }
        }
        function arrowRenderer(data, type, row) {
            if(data != undefined){
                if(row.ffh4BTC != undefined){
                    
                    if (row.ffh4BTC == -1){
                        return  '<font color="green">▲ </font>' + data;
                    }
                    // Return the cell content with the specified background color
                        
                    else if(row.ffh4BTC == 1) {
                        return '<font color="red">▼  </font>' + data;
                    }   
                        
                    else
                        return '&nbsp;&nbsp;&nbsp;&nbsp;' + ' ' + data;
                }
                else{
                    return '&nbsp;&nbsp;&nbsp;&nbsp;' + ' ' + data;
                }
            }
        }
        coindataTable = $('#myDataTable').DataTable(
            {
                "paging": true,
                "autoWidth": true,
                suppressWarnings: false,
                
                columns: [
                    { data: 'no'},
                    { data: 'name' ,
                        render: nameRender}, //or { data: 'MONTH', title: 'Month' }`
                    { data: 'type' ,
                        render: typeRender},
                    { data: 'settings' ,
                        render: settingsRender},
                    { data: 'noti' ,
                        render: notifyRender},
                    

                ],
                
            }
            
        );
        $('#myDataTable').on( 'error.dt', function ( e, settings, techNote, message ) {
            console.log( 'An error has been reported by DataTables: ', message );
            
            

        } ) ;    
        function updateDataTable() {
            // Make an AJAX request to get updated data from the server
            $.ajax({
                url: '{% url 'get_users'%}', // Replace with your server endpoint URL
                type: 'GET',
                dataType: 'json',
                data: {'type':'all'},
                success: function(response) {
                    
                    // Clear existing DataTable data
                    coindataTable.clear();
                    
                    
                    coindataTable.rows.add(response.data);
                    // Redraw the DataTable
                    // console.log(response.data.length);
                    coindataTable.draw();
                    
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        updateDataTable()
        
    });
</script>
{% endblock content %}