{% extends 'layouts/base_admin.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->

	
<div class="row align-items-center">
	<div class="col-md-12">
		<div class="page-header-title">
			<h5 class="m-b-10">System Setting Page</h5>
		</div>
		
	</div>
</div>
	

<div class="row">
	<form class="form-horizontal" style="display: contents;" id="settinginfo" action="/save_system_settings/" method="post"> 
	{% csrf_token %}
	<!-- [ sample-page ] start -->
	
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Proxy Address 1</span>
			</div>
			
			<input type="text" class="form-control" name="proxy1" value="{{data.proxy1}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Proxy Address 2</span>
			</div>
			
			<input type="text" class="form-control" name="proxy2" value="{{data.proxy2}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Proxy Address 3</span>
			</div>
			
			<input type="text" class="form-control" name="proxy3" value="{{data.proxy3}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Proxy Address 4</span>
			</div>
			
			<input type="text" class="form-control" name="proxy4" value="{{data.proxy4}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Proxy Address 5</span>
			</div>
			
			<input type="text" class="form-control" name="proxy5" value="{{data.proxy5}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			
		</div>
	</div>
	<div class="col-md-12" style="margin-top: 5px;">
		<br>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 1</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey1" value="{{data.cmckey1}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 2</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey2" value="{{data.cmckey2}}">
		</div>
	</div>

	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 3</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey3" value="{{data.cmckey3}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 4</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey4" value="{{data.cmckey4}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 5</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey5" value="{{data.cmckey5}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 6</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey6" value="{{data.cmckey6}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 7</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey7" value="{{data.cmckey7}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 8</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey8" value="{{data.cmckey8}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 9</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey9" value="{{data.cmckey9}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">CoinMarket API Key 10</span>
			</div>
			
			<input type="text" class="form-control" name="cmckey10" value="{{data.cmckey10}}">
		</div>
	</div>
	<div class="col-md-12" style="margin-top: 5px;">
		<br>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Binance API Key</span>
			</div>
			
			<input type="text" class="form-control" name="bncapikey" value="{{data.bncapikey}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 180px;">Binance API Secret</span>
			</div>
			
			<input type="text" class="form-control" name="bncseckey" value="{{data.bncseckey}}">
		</div>
	</div>
	<div class="col-md-12" style="margin-top: 5px;">
		<br>
	</div>
	<div class="col-md-4" style="margin-top: 5px;">
		<div class="input-group">
			
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 380px;">% Change For Candle count 1H</span>
			</div>
			&nbsp;&nbsp;&nbsp;<font size="5">&lt;</font>&nbsp;&nbsp;&nbsp;
			<input type="text" class="form-control" name="1h_downdelta" value="{{data.1h_downdelta|default:'-1'}}">
		</div>
	</div>
	<div class="col-md-4" style="margin-top: 5px;">
		<div class="input-group">
			
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 380px;">% Change For Candle count 1H</span>
			</div>
			&nbsp;&nbsp;&nbsp;<font size="5">&gt;</font>&nbsp;&nbsp;&nbsp;
			<input type="text" class="form-control" name="1h_updelta" value="{{data.1h_updelta|default:'1'}}">
		</div>
	</div>
	<div class="col-md-4" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Candle count period (Hour)</span>
			</div>
			
			<input type="text" class="form-control" name="candleperiod" value="{{data.candleperiod|default:'6'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">CMC period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="priceperiod" value="{{data.priceperiod|default:'60'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 1H period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="h1period" value="{{data.h1period|default:'0'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 6H period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="h6period" value="{{data.h6period|default:'30'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 12H period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="h12period" value="{{data.h12period|default:'45'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 1D period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="d1period" value="{{data.d1period|default:'60'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 2D period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="d2period" value="{{data.d2period|default:'90'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 4D period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="d4period" value="{{data.d4period|default:'120'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Change % 7D period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="d7period" value="{{data.d7period|default:'150'}}">
		</div>
	</div>
	
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Long/Short ratio period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="lsperiod" value="{{data.lsperiod|default:'60'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 250px;">RSI & BB 1H candles period (Hour)</span>
			</div>
			
			<input type="text" class="form-control" name="r1hperiod" value="{{data.r1hperiod|default:'3'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 250px;">RSI & BB 4H candles period (Hour)</span>
			</div>
			
			<input type="text" class="form-control" name="r4hperiod" value="{{data.r4hperiod|default:'12'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 250px;">Fib 7D period (Hour)</span>
			</div>
			
			<input type="text" class="form-control" name="fibperiod" value="{{data.fibperiod|default:'24'}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 230px;">Telegram Notify Period (Min)</span>
			</div>
			
			<input type="text" class="form-control" name="tlgperiod" value="{{data.tlgperiod|default:'10'}}">
		</div>
	</div>
	<div class="col-md-6" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 200px;">Telegram BOT TOKEN</span>
			</div>
			
			<input type="text" class="form-control" name="tlgtoken" value="{{data.tlgtoken}}">
		</div>
	</div>
	<div class="col-md-3" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 140px;">Telegram API ID</span>
			</div>
			
			<input type="text" class="form-control" name="tlgapiid" value="{{data.tlgapiid}}">
		</div>
	</div>
	<div class="col-md-5" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 150px;">Telegram API Hash</span>
			</div>
			
			<input type="text" class="form-control" name="tlgapihash" value="{{data.tlgapihash}}">
		</div>
	</div>
	<div class="col-md-4" style="margin-top: 5px;">
		<div class="input-group">
			<div class="input-group-prepend" >
				<span class="input-group-text" style="width: 150px;">Telegram URL</span>
			</div>
			
			<input type="text" class="form-control" name="tlgurl" value="{{data.tlgurl}}">
		</div>
	</div>
	
	<div class="col-md-3" style="margin-top: 10px; display: -webkit-box;" >
		<button type="submit" id="submit" class="btn  btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 150px;">Save</button>
		<div class="toast hide toast-3s " role="alert" aria-live="assertive" data-delay="2000" aria-atomic="true" style="margin-left:10px;width : 230px;height: 35px;">
			
			<div class="toast-body" style="margin-top: -5px;">
				{{msg}}
			</div>
		</div>
	</div>
	
	</form>
	<!-- Modal -->
	
	
	
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
	var status = 0;
	msg = '{{msg}}';
	
	
	$(document).ready(function() {
		
		if(msg != ''){
			
			$('.toast-3s').toast('show')
		}
		
		


		
	});
	
	
	
</script>
<!-- [ Main Content ] end -->
{% endblock content %}
