{% load static %}
<title>Tradie.vn</title>
<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 11]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="keywords" content="">
<meta name="author" content="Codedthemes" />
<!-- Favicon icon -->
<!-- <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon"> -->
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="https://appsrv1-147a1.kxcdn.com/gradient/images/favicon.ico" type="image/x-icon">
<link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-gradientable">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- vendor css -->
<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/gradient/css/style.min.css">

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script> -->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script> -->
<script type="text/javascript" language="javascript" src="{% static 'assets/js/treeview.js' %}"></script>

<script src="https://appsrv1-147a1.kxcdn.com/gradient/js/plugins/bootstrap.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/gradient/js/pcoded.min.js"></script>
<!-- <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/vendor-all.min.js"></script> -->
<!-- <script src="https://appsrv1-147a1.kxcdn.com/gradient/js/vendor-all.min.js"></script> -->

    
    

<style>
	.form-control {
		display: inline !important;
	}
	#myDataTable_length > label{
		display: inline-flex;

	}
	#myDataTable_length > label > select{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: -5px;
	}
	#myDataTable_filter > label > input{
		margin-left: 10px;
	}

  	.fit-content {
    	width: fit-content;
		text-align: center;
  	}
	
	.custom-row-height td {
    	height: 30px !important; /* Set the desired row height */
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		padding-left: 2px !important;
		padding-right: 2px !important;
  	}
	.custom-th-height th {
    	height: 30px !important; /* Set the desired row height */
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		padding-left: 2px !important;
		padding-right: 2px !important;
  	}

	table.dataTable tbody th, table.dataTable tbody td {
		padding: 5px 0px;
		text-align: center;
	}
	table.dataTable>tbody>tr.child ul.dtr-details {
		display: inherit;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
		text-align: center;
	}
	.custom-select {
		display: inline-block;
		width: 100%;
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem 1.95rem .375rem .95rem;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		vertical-align: middle;
		background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .95rem center/8px 10px;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 5px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.fade {
		opacity: 1;
		-webkit-transition: opacity .15s linear;
		-o-transition: opacity .15s linear;
		transition: opacity .15s linear;
	}
	.tooltip .tooltip-inner{
		font-size: 18px;
		max-width: 500px;
		text-align: justify;
		font-weight: bold;
		background-color: #ffffff;
		color: black;
		padding: 10px;
		border: 2px solid #bababa;
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
	}
	.tooltip-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	
	
</style>

<!-- vendor css -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
