{% load i18n static admin_gradient %}
<ul class="nav pcoded-inner-navbar ">
  {% if not request.user.is_superuser%}
    
    <li class="nav-item">
      <a href="{% url 'index' %}" class="nav-link "><span class="pcoded-micon"><i
            class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
    </li>
  {% endif %}
  {% if request.user.is_superuser %}
  <li class="nav-item"><a href="{% url 'user_console' %}" class="nav-link "><span class="pcoded-micon"><i
    class="feather icon-user-check"></i></span><span class="pcoded-mtext">Console Users</span></a></li>
  <li class="nav-item"><a href="{% url 'user_website' %}" class="nav-link "><span class="pcoded-micon"><i
    class="feather icon-user-check"></i></span><span class="pcoded-mtext">Website Users</span></a></li>
  <li class="nav-item"><a href="{% url 'system_setting' %}" class="nav-link "><span class="pcoded-micon"><i
    class="feather icon-settings"></i></span><span class="pcoded-mtext">System Setting</span></a></li>
  <li class="nav-item"><a href="{% url 'active_users' %}" class="nav-link "><span class="pcoded-micon"><i
      class="feather icon-list"></i></span><span class="pcoded-mtext">User monitor</span></a></li>
  <li class="nav-item"><a href="{% url 'error_log' %}" class="nav-link "><span class="pcoded-micon"><i
    class="feather icon-user-check"></i></span><span class="pcoded-mtext">Error log</span></a></li>
    {% endif %}

  {% if request.user.is_authenticated and not request.user.is_superuser %}
  <li class="nav-item pcoded-hasmenu">
    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span
      class="pcoded-mtext">Settings</span></a>
    <ul class="pcoded-submenu">
      <li class="nav-item"><a href="{% url 'setting_page' %}" class="nav-link "><span class="pcoded-micon"><i
        class="feather icon-check-circle"></i></span><span class="pcoded-mtext">Simple</span></a></li>
      <li class="nav-item"><a href="{% url 'advanced_settings' %}" class="nav-link "><span class="pcoded-micon"><i
        class="feather icon-sliders"></i></span><span class="pcoded-mtext">Advanced</span></a></li>
      
    </ul>
  </li>
  

  
  <li class="nav-item">
    <a href="{% url 'records' %}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Records</span></a>
  </li>
  <li class="nav-item">
    <a href="{% url 'usernotify'  userid=request.user.id%}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-book"></i></span><span class="pcoded-mtext">Notify History</span></a>
  </li>
  <li class="nav-item">
    <a href="{% url 'aboutus' %}" class="nav-link "><span class="pcoded-micon"><i
      class="feather icon-help-circle"></i></span><span class="pcoded-mtext">About us</span></a>
          
  </li>
  

  <li class="nav-item">
    <a href="{% url 'user_profile' %}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-user"></i></span><span class="pcoded-mtext">User Profile</span></a>
  </li>
  <li class="nav-item pcoded-hasmenu">
    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
        class="pcoded-mtext">Authentication</span></a>
    <ul class="pcoded-submenu">
      <li class="nav-item"><a href="{% url 'auth_signup' %}" target="_blank" class="nav-link "><span class="pcoded-micon"><i
        class="feather icon-user-plus"></i></span><span class="pcoded-mtext">Sign up</span></a></li>
      <li class="nav-item"><a href="{% url 'auth_signin' %}" target="_blank" class="nav-link "><span class="pcoded-micon"><i
        class="feather icon-log-in"></i></span><span class="pcoded-mtext">Sign in</span></a></li>
    </ul>
  </li>
  
  
  {% endif %}
</ul>