<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div  class="navbar-wrapper  ">
        <div class="navbar-content scroll-div">
            {% include 'includes/menu-list.html' %}
            <div class="container my-5">

                <footer class="bg-light text-center text-black">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                
                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1"  style="background-color: #ffffff;"  
                        href="https://www.facebook.com/tradie.2023" role="button"><i class="fab fa-facebook-f"></i></a>
            
                    <!-- Twitter
                    <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #55acee;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-twitter"></i
                    ></a>
             -->
                    
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ffffff;"
                    href="https://t.me/tradie_cypto"     role="button"><i class="fab fa-telegram-plane"></i></a>
                
                <!-- Section: Social media -->
                </div>
                <!-- Grid container -->
            
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgb(255, 255, 255);">
                © 2023 Copyright:
                <a class="text-black" href="https://tradie.com/">tradie.vn</a>
                </div>
                <!-- Copyright -->
            </footer>
                
            </div>
            <!-- End of .container -->
        </div>
        
    </div>
    <!-- Remove the container if you want to extend the Footer to full width. -->

</nav>