{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">About us</h5>
            </div>
            
        </div>
    </div>
    
</div>



<!-- [ Main Content ] end -->

<script>
    
    function compare(a,b){
        if(Math.round(parseFloat(a)*10000)/10000 > Math.round(parseFloat(b)*10000)/10000){
            return 1;
        }
        else if(Math.round(parseFloat(a)*10000)/10000 < Math.round(parseFloat(b)*10000)/10000){
            return -1;
        }
        else{
            return 0;
        }
    }
    $(document).ready(function() {
        $.fn.dataTable.ext.errMode = 'none';
        function numberRender(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10000) / 10000;
                
            }
        }
        function numberRender1(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10) / 10;
                
            }
        }
        function FundingRateRender(data, type, row) {
            if(data != undefined){
                if(row.c1000 == 0)
                    return "<a href='https://www.binance.com/en/futures/" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                else
                    return "<a href='https://www.binance.com/en/futures/1000" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                
            }
        }
        function linkRender(data, type, row) {
            if(data != undefined){
                
                    return "<a href='https://www.binance.com/en/trade/" + data + "_USDT?theme=dark&type=spot' target='_blank'>" + data + "</a>";
                
 
                
            }
        }
        function arrowRenderer(data, type, row) {
            if(data != undefined){
                if(row.ffh4BTC != undefined){
                    
                    if (row.ffh4BTC == -1){
                        return  '<font color="green">▲ </font>' + data;
                    }
                    // Return the cell content with the specified background color
                        
                    else if(row.ffh4BTC == 1) {
                        return '<font color="red">▼  </font>' + data;
                    }   
                        
                    else
                        return '&nbsp;&nbsp;&nbsp;&nbsp;' + ' ' + data;
                }
                else{
                    return '&nbsp;&nbsp;&nbsp;&nbsp;' + ' ' + data;
                }
            }
        }
        new DataTable('#example', {
            ajax: '{% url 'get_coindata_all'%}',
            columns: [
            { data: 'no'},
                    { data: 'symbol' ,
                        render: linkRender}, //or { data: 'MONTH', title: 'Month' }`
                    { data: 'price' ,
                        render: numberRender},
                    
                    { data: 'market_cap' ,
                        render: numberRender1},
                    { data: 'vol_24h' ,
                        render: numberRender1},
                    { data: 'vol' ,
                        render: numberRender1},
                    { data: 'vm' ,
                        render: numberRender},
                    { data: 'fr' ,
                        render: FundingRateRender},   
                    { data: 'ls' ,
                        render: numberRender},                     
                    { data: '1m' ,
                        render: numberRender},    
                    { data: '3m' ,
                        render: numberRender},
                    { data: '5m' ,
                        render: numberRender},
                    { data: '15m' ,
                        render: numberRender},
                    { data: '1h' ,
                        render: numberRender},
                    { data: '4h' ,
                        render: numberRender},
                    { data: 'c1' },
                    { data: 'c2' },    
                    { data: 'c7' },
                    { data: 'c14' },
            ]
        });
        
        // updateDataTable()
        // setInterval(updateDataTable, 1000);
    });
</script>


{% endblock content %}