{% extends 'layouts/base_admin.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">Notify History</h5>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><i class="feather icon-user"></i>&nbsp;&nbsp;{{username}}</li>
                
                
            </ul>
        </div>
    </div>
    
</div>
<!-- [ breadcrumb ] end -->
<div class="row">
    

    <table id="myDataTable" class="display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th rowspan="2" >No.</th>
                <th rowspan="2" >Symbol</th>
                <th rowspan="2" >Current<br> Price<br>(USD)</th>
                
                <th rowspan="2" >Market <br>cap<br>(Mils $)</th>
                <th rowspan="2" >Volume <br>24H<br>(Mils $)</th>
                <th rowspan="2" >Volume <br>change<br>24H (%)</th>
                <th rowspan="2" >Volume/<br>Market<br> cap</th>
                <th rowspan="2" >Funding <br>rate <br>(%)</th>
                <th rowspan="2" >Long <br>Short<br>Ratio</th>
                <th colspan="6" >% change</th>
                <th colspan="2" >3m <br>candle<br> count</th>
                <th colspan="2" >1H <br>candle<br> count</th>

                
                <!-- Add more table headers as needed -->
            </tr>
            <tr>
                
                <th >1'</th>
                <th >3'</th>
                <th >5'</th>
                <th >15'</th>
                <th >1H</th>
                <th >4H</th>
                <th >1d</th>
                <th >2d</th>
                <th >7d</th>
                <th >14d</th>
                <th >Sending Time</th>
                
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        
    </table>
    
</div>

<!-- [ Main Content ] end -->

<script>
    $(document).ready(function() {
        $.fn.dataTable.ext.errMode = 'none';
        
        function numberRender(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10000) / 10000;
                
            }
        }
        function numberRender1(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10) / 10;
                
            }
        }
        function FundingRateRender(data, type, row) {
            if(data != undefined){
                if(row.c1000 == 0)
                    return "<a href='https://www.binance.com/en/futures/" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                else
                    return "<a href='https://www.binance.com/en/futures/1000" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                
            }
        }
        function linkRender(data, type, row) {
            if(data != undefined){
                return "<a href='https://www.binance.com/en/trade/" + data + "_USDT?theme=dark&type=spot' target='_blank'>" + data + "</a>";
                
            }
        }
        coindataTable = $('#myDataTable').DataTable(
            {
                "paging": true,
                "autoWidth": true,
                suppressWarnings: false,
                
                columns: [
                    { data: 'no'},
                    { data: 'symbol' ,
                        render: linkRender}, //or { data: 'MONTH', title: 'Month' }`
                    { data: 'price' ,
                        render: numberRender},
                    
                    { data: 'market_cap' ,
                        render: numberRender1},
                    { data: 'vol_24h' ,
                        render: numberRender1},
                    { data: 'vol' ,
                        render: numberRender1},
                    { data: 'vm' ,
                        render: numberRender},
                    { data: 'fr' ,
                        render: FundingRateRender},   
                    { data: 'ls' ,
                        render: numberRender},                     
                    { data: '1m' ,
                        render: numberRender},    
                    { data: '3m' ,
                        render: numberRender},
                    { data: '5m' ,
                        render: numberRender},
                    { data: '15m' ,
                        render: numberRender},
                    { data: '1h' ,
                        render: numberRender},
                    { data: '4h' ,
                        render: numberRender},
                    { data: 'c1' },
                    { data: 'c2' },    
                    { data: 'c7' },
                    { data: 'c14' },
                    {
                        data: 'time'
                    }

                ],
                
            }
            
        );
        $('#myDataTable').on( 'error.dt', function ( e, settings, techNote, message ) {
            console.log( 'An error has been reported by DataTables: ', message );
        } ) ;
        
        function updateDataTable() {
            // Make an AJAX request to get updated data from the server
            $.ajax({
                url: '{% url 'get_notifydata_user'%}', // Replace with your server endpoint URL
                type: 'GET',
                dataType: 'json',
                data:{'user_id':'{{user_id}}'},
                success: function(response) {
                    
                    // Clear existing DataTable data
                    coindataTable.clear();
                    
                    
                    coindataTable.rows.add(response.data);
                    // Redraw the DataTable
                    // console.log(response.data.length);
                    coindataTable.draw();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        updateDataTable()
        setInterval(updateDataTable, 5000);
    });
</script>
{% endblock content %}