{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">Advanced Settings</h5>
            </div>
            <ul class="breadcrumb">
                <div id="expression"></div>
            </ul>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-3">
        
        <div id="treeview" class=""></div>
    </div>
    <div class="col-sm-6" >
        
        {% if tlgactive == 1 %}
        
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sending Telegram notification</span>
                </div>
                <select class="custom-select" name="tlg" id="tlg" onchange="checkTlg();"> 
                    
                    <option value="1" {% if data.tlg == "1" %}selected{% endif %}>Yes</option>
                    <option value="0" {% if data.tlg == "0" %}selected{% endif %}>No</option>
                    
                </select>
                &nbsp;&nbsp;Your Telegram URL is activated.	
            </div>
        
        {% endif%}
        {% if tlgactive == 0 %}
        
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sending Telegram notification</span>
                </div>
                <select class="custom-select" name="tlg" id="tlg" disabled onchange="checkTlg();"> 
                    
                    <option value="1" >Yes</option>
                    <option value="0" selected>No</option>
                    
                </select>
                &nbsp;&nbsp;Your Telegram URL is not activated. &nbsp;<button type="button" onclick="showHelp()" class="btn  btn-icon btn-info"><i class="feather icon-help-circle"></i></button>
            </div>
        
        {% endif%}
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 100px;">Coin name</span>
            </div>
            
            <input type="text" class="form-control" name="coins" value="{{coins}}" id="coins">
            <button type="submit" id="submit" class="btn  btn-primary" style="width: 100px;" onclick="saveCoins()">Save</button>
        </div>
        
            
                    
                    
                
           
        <div id="changeGroupForm" style="display: none;">
            <br>
            <div id="changeGroupStr"><h6>Change Group Operator</h6></div>
            
            
            <div class="input-group" id="changeGroups">
                <select class="custom-select" name="cur_group_op" id="cur_group_op">
                    <option value="1" style="text-align: center;" > AND</option>
                    <option value="2" style="text-align: center;" > OR </option>
                    
                </select>
                <button type="button" class="btn  btn-info" id="changeGroupBtn" onclick="showConfirmChangeOp()" data-toggle="modal" data-target="#changeOp" style="width: 100px;">Change</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn  btn-danger" onclick="showDeleteGroup()" data-toggle="modal" data-target="#changeOp" >Delete Group</button>
            </div>
            <br>
            <br>
            <div id="addGroupStr"><h6>Add New Group</h6></div>
            
            
            <div class="input-group" id="addGroups">
                <select class="custom-select" name="add_group_op" id="add_group_op">
                    <option value="1" style="text-align: center;" > AND</option>
                    <option value="2" style="text-align: center;" > OR </option>
                    
                </select>
                <button type="button" class="btn  btn-primary" onclick="showAddGroup()" data-toggle="modal" data-target="#changeOp" style="width: 100px;">Add Group</button>
                
            </div>
            <br>
            <br>
            <div id="addConditionStr"><h6>Add New Condition</h6></div>
            
            
            <div class="input-group" id="addConditions">
                
                <select class="custom-select" name="cond_type" style="width: 150px;" id="cond_type">
                    
                    <option value="1m" style="text-align: center;" > % Change 1'</option>
                    <option value="3m" style="text-align: center;" > % Change 3' </option>
                    <option value="5m" style="text-align: center;" >% Change 5'</option>
                    <option value="15m" style="text-align: center;" >% Change 15'</option>
                    <option value="1h" style="text-align: center;" > % Change 1H</option>
                    <option value="6h" style="text-align: center;" > % Change 6H </option>
                    <option value="12h" style="text-align: center;" >% Change 12H</option>
                    <option value="1d" style="text-align: center;" >% Change 1D</option>
                    <option value="2d" style="text-align: center;" >% Change 2D</option>
                    <option value="4d" style="text-align: center;" >% Change 4D</option>
                    <option value="7d" style="text-align: center;" >% Change 7D</option>
                    <option value="c2" style="text-align: center;" >Candle count 1H for 2D</option>
                    <option value="c7" style="text-align: center;" >Candle count 1H for 7D</option>
                    <option value="r1h" style="text-align: center;" >RSI 1H</option>
                    <option value="r4h" style="text-align: center;" >RSI 4H</option>
                    <option value="b1h" style="text-align: center;" >Bollinger Band 1H</option>
                    <option value="b4h" style="text-align: center;" >Bollinger Band 4H</option>
                    <option value="f7d" style="text-align: center;" >Fibonacci retracement 7D</option>                    
                    <option value="vol" style="text-align: center;" >% Change volume 24H</option>
                    <option value="vol_24h" style="text-align: center;" >Volume 24H (Millions $)</option>
                    <option value="mc" style="text-align: center;" >Market cap (Millions $)</option>
                    <option value="vm" style="text-align: center;" >Volume / MarketCap</option>
                    <option value="fr" style="text-align: center;" >Funding rate (%)</option>
                    <option value="ls" style="text-align: center;" >Long/Short Ratio</option>
                </select>
                <select class="custom-select" name="glt" id="glt">
				
                    <option value="1" style="text-align: center;" > &gt;</option>
                    <option value="2" style="text-align: center;" > &lt; </option>
                    <option value="3" style="text-align: center;" >&gt;=</option>
                    <option value="4" style="text-align: center;" >&lt;=</option>
                </select>
                <input type="number" step=any class="form-control floatNumber" name="cvalue"  style="width: 50px;" id="cvalue">
                <button type="button" class="btn  btn-primary" onclick="showAddCondition()"  >Add Condition</button>
            </div>
            
            
        </div>
        
        
    
        <div id="changeConditionForm" style="display: none;">
            <br>
            <h6>Change Condition</h6>
            
            <div class="input-group">
                
                <select class="custom-select" name="cond_type" style="width: 150px;" id="cur_cond_type">
                    
                    <option value="1m" style="text-align: center;" > % Change 1'</option>
                    <option value="3m" style="text-align: center;" > % Change 3' </option>
                    <option value="5m" style="text-align: center;" >% Change 5'</option>
                    <option value="15m" style="text-align: center;" >% Change 15'</option>
                    <option value="1h" style="text-align: center;" > % Change 1H</option>
                    <option value="6h" style="text-align: center;" > % Change 6H </option>
                    <option value="12h" style="text-align: center;" >% Change 12H</option>
                    <option value="1d" style="text-align: center;" >% Change 1D</option>
                    <option value="2d" style="text-align: center;" >% Change 2D</option>
                    <option value="4d" style="text-align: center;" >% Change 4D</option>
                    <option value="7d" style="text-align: center;" >% Change 7D</option>
                    <option value="c2" style="text-align: center;" >Candle count 1H for 2D</option>
                    <option value="c7" style="text-align: center;" >Candle count 1H for 7D</option>
                    <option value="r1h" style="text-align: center;" >RSI 1H</option>
                    <option value="r4h" style="text-align: center;" >RSI 4H</option>
                    <option value="b1h" style="text-align: center;" >Bollinger Band 1H</option>
                    <option value="b4h" style="text-align: center;" >Bollinger Band 4H</option>
                    <option value="f7d" style="text-align: center;" >Fibonacci retracement 7D</option>
                    <option value="vol" style="text-align: center;" >% Change volume 24H</option>
                    <option value="vol_24h" style="text-align: center;" >Volume 24H (Millions $)</option>
                    <option value="mc" style="text-align: center;" >Market cap (Millions $)</option>
                    <option value="vm" style="text-align: center;" >Volume / MarketCap</option>
                    <option value="fr" style="text-align: center;" >Funding rate (%)</option>
                    <option value="ls" style="text-align: center;" >Long/Short Ratio</option>
                </select>
                <select class="custom-select" name="glt" id="cur_glt">
				
                    <option value="1" style="text-align: center;" > &gt;</option>
                    <option value="2" style="text-align: center;" > &lt; </option>
                    <option value="3" style="text-align: center;" >&gt;=</option>
                    <option value="4" style="text-align: center;" >&lt;=</option>
                </select>
                <input type="number" step=any class="form-control floatNumber" name="cvalue"  style="width: 50px;" id="cur_cvalue">
                <button type="button" class="btn  btn-info" onclick="showChangeCondition()" data-toggle="modal" data-target="#changeOp" style="width: 100px;">Change</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn  btn-danger" onclick="showDeleteCondition()" data-toggle="modal" data-target="#changeOp" >Delete Condition</button>
                
            </div>
            <br>
            <br>
            <h6>Make Group</h6>
            
            <div class="input-group" >
                <select class="custom-select" name="add_group_op" id="make_group_op">
                    <option value="1" style="text-align: center;" > AND</option>
                    <option value="2" style="text-align: center;" > OR </option>
                    
                </select>
                <button type="button" class="btn  btn-primary" onclick="showMakeGroup()" data-toggle="modal" data-target="#changeOp" style="width: 100px;">Make Group</button>
                
            </div>
            
        </div>
        
        
    </div>
    
    <div id="changeOp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Advanced Settings</h5>
					
				</div>
				<div class="modal-body">
					<p id="msg">
					</p>
				</div>
				<div class="modal-footer" >
					<button type="button" class="btn  btn-primary" data-dismiss="modal" id="yes_btn">Yes</button>
					<button type="button" class="btn  btn-secondary" data-dismiss="modal" id="no_btn">No</button>
				</div>
			</div>
		</div>
	</div>
    <div id="helpDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpDialogTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="helpDialogTitle">Activate Telegram URL</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeicon"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p id="msg1">Step 1: Go to "User Profile" -> Edit -> Set up your telegram URL<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For example : https://t.me/tradie2 <br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;How to get your telegram URL. Click <a href="{% url 'abouttlgnoti' %}" target="_blank">Here</a><br>
						Step 2: Click to <a href="{{tlgurl}}" target="_blank">this link</a> <br>
						Step 3: Click "SEND MESSAGE" -> Click "START"
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn  btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
</div>



<!-- [ Main Content ] end -->

<script>

var selNode;
var groupaction = 0;
var lgt_string = [' > ',' < ',' >= ', ' <= ']    
$(function() {

    function updateTree() {
        // Make an AJAX request to get updated data from the server
        $.ajax({
            url: '{% url "user_advanced_settings" userid=userid %}',
            type: 'GET',
            dataType: 'json',
            
            success: function(response) {
                
                // Clear existing DataTable data
                
                
                
                seltree = $('#treeview').treeview({
                    color: "#000000",
                    expandIcon: 'glyphicon glyphicon-chevron-right',
                    collapseIcon: 'glyphicon glyphicon-chevron-down',
                    nodeIcon: 'glyphicon glyphicon-tag',
                    data: response.data,
                
                });
                $('#expression').html("<h5>" + response.expression + "</h5>");
                $('#coins').val(response.coins);
                console.log(response.istlg) ;
                
                $('#tlg').val(response.istlg);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    updateTree();
    $('#no_btn').click(function(){
        $('#changeOp').modal('hide');
        if (groupaction == 11 || groupaction == 12) {
            $('#tlg').val('0');
        }
    });
    $('#yes_btn').click(function(){

        $('#changeOp').modal('hide');
        if(groupaction < 10){
            doActionAdvncedSettings();
        }
        else{
            if (groupaction == 11 || groupaction == 12) {
                $('#tlg').val('0');
            }
        }
    });
    $('#closeModal').click(function(){
		$('#helpDialog').modal('hide');
			
    });
    $('#closeicon').click(function(){
        $('#helpDialog').modal('hide');
        
    });
    $('#helpDialog').on('hidden.bs.modal', function (e) {
		location.href = location.protocol + "//" + location.host + "/advanced_settings/";// do something...
	})
    $('#changeOp').on('hidden.bs.modal', function (e) {
		if (groupaction == 11 || groupaction == 12) {
            $('#tlg').val('0');
            setAdTlg();
        }
        else if (groupaction == 13){
            setAdTlg();
        }
	})

});



function showConfirmChangeOp(){
    var selectedValue = $('#cur_group_op').val();
    if (selectedValue != selNode.cond_op){
        newOp = selectedValue == '1' ? "AND" : "OR";
        msg = 'Do you change ' + selNode.text + " to " + newOp + " Group?";
        $('#msg').html(msg);
        groupaction = 1;
        $('#changeOp').modal("show");
    }
    else{
        alert("Please select other operator to change.");
    }
    
}
function showAddGroup(){
    var selectedValue = $('#add_group_op').val();
    
    newOp = selectedValue == '1' ? "AND" : "OR";
    msg = 'Do you add new ' + newOp + " Group?";
    $('#msg').html(msg);
    groupaction = 2;
    $('#changeOp').modal("show");
    
    
}
function showMakeGroup(){
    var selectedValue = $('#make_group_op').val();
    
    newOp = selectedValue == '1' ? "AND" : "OR";
    msg = 'Do you include this condition in new ' + newOp + " Group?";
    $('#msg').html(msg);
    groupaction = 7;
    $('#changeOp').modal("show");
    
    
}

function showDeleteGroup(){
    
    newOp = selNode.cond_op == '1' ? "AND" : "OR";
    msg = 'Do you delete ' + newOp + " Group?";
    $('#msg').html(msg);
    groupaction = 3;
    $('#changeOp').modal("show");
    
}
function showAddCondition(){
    var selectedTypeValue = $('#cond_type option:selected').text();
    var selectedGltValue = $('#glt option:selected').text();
    var selectedValue = $('#cvalue').val();
    if (!isNaN(selectedValue) && selectedValue != ""){
        msg = 'Do you add new condition (' + selectedTypeValue + " " + selectedGltValue + " " + selectedValue + ") ?";
        $('#msg').html(msg);
        groupaction = 4;
        $('#changeOp').modal("show");
    }
    else{
        alert("Invalid value. Please check value.");
        
    }
}

function showChangeCondition(){
    var selectedTypeValue = $('#cur_cond_type option:selected').text();
    var selectedGltValue = $('#cur_glt option:selected').text();
    var selectedValue = $('#cur_cvalue').val();
    if (!isNaN(selectedValue) && selectedValue != ""){
        msg = 'Do you change condition to (' + selectedTypeValue + " " + selectedGltValue + " " + selectedValue + ") ?";
        $('#msg').html(msg);
        groupaction = 5;
        $('#changeOp').modal("show");
    }
    else{
        alert("Invalid value. Please check value.");
    }
}
	
function showDeleteCondition(){
    
    
    msg = 'Do you delete condition ( ' + selNode.key + " " + lgt_string[parseInt(selNode.op)-1] + " " + selNode.value + " ) ?";
    $('#msg').html(msg);
    groupaction = 6;
    $('#changeOp').modal("show");
    
}
function selNodeItem(){
    
    if (selNode != undefined){
        if (selNode.isLeaf == 0){
            if (selNode.id != '0'){
                $('#changeGroups').show();
                $('#changeGroupStr').show();
                $('#addConditions').show();
                $('#addConditionStr').show();
                $('#addGroups').show();
                $('#addGroupStr').show();
                $('#cur_group_op').val(selNode.cond_op); 
                
                
            }
            else{
                $('#changeGroups').hide();
                $('#changeGroupStr').hide();
                if(selNode.nodes.length > 0){
                    $('#addConditions').hide();
                    $('#addConditionStr').hide();
                    $('#addGroups').hide();
                    $('#addGroupStr').hide();

                }
                
            }
            $('#changeGroupForm').show();
            $('#changeConditionForm').hide();
        }
        else{
            $('#cur_cond_type').val(selNode.key); 
            $('#cur_glt').val(selNode.op);
            $('#cur_cvalue').val(selNode.value);
            $('#changeConditionForm').show();
            $('#changeGroupForm').hide();
        }
    }
    else{
        $('#changeGroupForm').hide();
        $('#changeConditionForm').hide();
    }
    
    
}// html demo

function doActionAdvncedSettings() {
    var data = {};
    data.action = groupaction;
    switch (groupaction) {
        case 1: // change operator
            data.nodeId = selNode.id;
            data.op = $('#cur_group_op').val();
            break;
        case 2: // add group
            data.nodeId = selNode.id;
            data.op = $('#add_group_op').val();

            break;
        case 3: // delete group
            data.nodeId = selNode.id;
            break;
        case 4: // add condition
            data.nodeId = selNode.id;
            data.cond_type = $('#cond_type').val();
            data.glt = $('#glt').val();
            data.cvalue = $('#cvalue').val();
            break;
        case 5: // change condition
            data.nodeId = selNode.id;
            data.cond_type = $('#cur_cond_type').val();
            data.glt = $('#cur_glt').val();
            data.cvalue = $('#cur_cvalue').val();
            break;
        case 6: // delete condition
            data.nodeId = selNode.id;
            
            break;
        case 7: // make condition
            data.nodeId = selNode.id;
            data.op = $('#make_group_op').val();
            break;
        default:
            break;
    }        // Make an AJAX request to get updated data from the server
    $.ajax({
        url: '{% url "action_advanced_settings"%}', // Replace with your server endpoint URL
        type: 'GET',
        dataType: 'json',
        data:data,
        success: function(response) {
            
            // Clear existing DataTable data
            // alert(response.msg);
            if ($('#tlg').val() == '1'){
                console.log("sdfsdfsdf");
                getTlgCount();
            }
            else{
                location.href = location.protocol + "//" + location.host + "/advanced_settings/";
            }
            
            
        },
        error: function(error) {
            console.log(error);
        }
    });
}

function getTlgCount(){
    
    $.ajax({
        url: '{% url "get_coindata_user_count"%}', // Replace with your server endpoint URL
        type: 'GET',
        dataType: 'json',
        
        success: function(response) {
           console.log(response.count);
           setTlg(response.count);
            
        },
        error: function(error) {
            console.log(error);
        }
    });
}
	
function showHelp(){
    
    $('#helpDialog').modal("show");
}
function setTlg(count){
    if (count > 5){
        $('#msg').text("Please re-config your settings, too many coins met the conditions");
        
        groupaction = 11;
        $('#changeOp').modal("show");
    }
    else if(count > 0 && count <= 5){
        $('#msg').text("There are some coins met the conditions, please check record table");
        
        groupaction = 12;
        $('#changeOp').modal("show");
    }
    else if(count == 0){
        $('#msg').text("Start telegram server");
        groupaction = 13;
        
        $('#changeOp').modal("show");

    }
}
function setAdTlg(){
    data = {}
    data.value = $('#tlg').val();
    $.ajax({
        url: '{% url "set_ad_tlg_settings"%}', // Replace with your server endpoint URL
        type: 'GET',
        dataType: 'json',
        data:data,
        success: function(response) {
           console.log(response.msg);
        //    location.href = location.protocol + "//" + location.host + "/advanced_settings/";
            
        },
        error: function(error) {
            console.log(error);
        }
    });
}
function saveCoins(){
    data = {}
    data.value = $('#coins').val();
    $.ajax({
        url: '{% url "save_ad_coins"%}', // Replace with your server endpoint URL
        type: 'GET',
        dataType: 'json',
        data:data,
        success: function(response) {
           console.log(response.msg);
           alert("Coins saved");
        //    location.href = location.protocol + "//" + location.host + "/advanced_settings/";
            
        },
        error: function(error) {
            console.log(error);
        }
    });
}
function checkTlg(){
    istlgfuc = $('#tlg').val();
    if (istlgfuc == '1'){
        getTlgCount();
    }
    else{
        setAdTlg();
    }
}

	
</script>


{% endblock content %}