{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">Top {{user.limitcount}} coins</h5>
            </div>
            
        </div>
    </div>
    
</div>
<!-- [ breadcrumb ] end -->
<div class="row">
    

    <div class="col-xs-12">
        <table id="myDataTable" class="display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2" >No.</th>
                    <th rowspan="2" >Symbol</th>
                    <th rowspan="2" >Current<br> Price<br>(USD)</th>
                    
                    <th rowspan="2" >Market <br>cap<br>(mil $)</th>
                    <th rowspan="2" >Volume <br>24H<br>(mil $)</th>
                    <th rowspan="2" >Volume <br>change<br>24H (%)</th>
                    <th rowspan="2" >Volume/<br>Market<br> cap</th>
                    <th rowspan="2" >Funding <br>rate <br>(%)</th>
                    <th rowspan="2" >Long <br>Short<br>Ratio</th>
                    <th colspan="11" >% change</th>
                    
                    
                    
                    
                    
                    <!-- Add more table headers as needed -->
                </tr>
                <tr>
                    
                    <th >1'</th>                    
                    <th >3'</th>                    
                    <th >5'</th>
                    <th >15'</th>
                    <th >1H</th>
                    <th >6H</th>
                    <th >12H</th>
                    <th >1D</th>
                    <th >2D</th>
                    <th >4D</th>
                    <th >7D</th>
                    
                    
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <!-- <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot> -->
        </table>
</div>
    
</div>

<!-- [ Main Content ] end -->

<script>
    
    function compare(a,b){
        if(Math.round(parseFloat(a)*10000)/10000 > Math.round(parseFloat(b)*10000)/10000){
            return 1;
        }
        else if(Math.round(parseFloat(a)*10000)/10000 < Math.round(parseFloat(b)*10000)/10000){
            return -1;
        }
        else{
            return 0;
        }
    }
    $(document).ready(function() {
        
        $.fn.dataTable.ext.errMode = 'none';
        const dataMap = new Map();
        function numberRender(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10000) / 10000;
                
            }
        }
        function numberRender1(data, type, row) {
            if(data != undefined){
                return '' +  Math.round(data * 10) / 10;
                
            }
        }
        function FundingRateRender(data, type, row) {
            if(data != undefined){
                if(row.c1000 == 0)
                    return "<a href='https://www.binance.com/en/futures/" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                else
                    return "<a href='https://www.binance.com/en/futures/1000" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                
            }
        }
        function linkRender(data, type, row) {
            if(data != undefined){
                
                    return "<a href='https://www.binance.com/en/trade/" + data + "_USDT?theme=dark&type=spot' target='_blank'>" + data + "</a>";
                
 
                
            }
        }
        
        coindataTable = new DataTable('#myDataTable', {
            ajax: '{% url 'get_coindata_all'%}',
            columns: [
            { data: 'no'},
                    { data: 'symbol' ,
                        render: linkRender}, //or { data: 'MONTH', title: 'Month' }`
                    { data: 'price' ,
                        render: numberRender},
                    
                    { data: 'market_cap' ,
                        render: numberRender1},
                    { data: 'vol_24h' ,
                        render: numberRender1},
                    { data: 'vol' ,
                        render: numberRender1},
                    { data: 'vm' ,
                        render: numberRender},
                    { data: 'fr' ,
                        render: FundingRateRender},   
                    { data: 'ls' ,
                        render: numberRender},    
                    { data: '1m' ,
                        render: numberRender},
                    { data: '3m' ,
                        render: numberRender},
                    { data: '5m' ,
                        render: numberRender},
                    { data: '15m' ,
                        render: numberRender},
                    { data: '1h' ,
                        render: numberRender},
                    { data: '6h' ,
                        render: numberRender},
                    { data: '12h' ,
                        render: numberRender},
                    { data: '1d' ,
                        render: numberRender},
                    { data: '2d' ,
                        render: numberRender},
                    { data: '4d' ,
                        render: numberRender},
                    { data: '7d' ,
                        render: numberRender},
                    
            ]
        });
        $('#myDataTable').on( 'error.dt', function ( e, settings, techNote, message ) {
            console.log( 'An error has been reported by DataTables: ', message );
            
            

        } ) ;    
        

        setInterval( function () {
            coindataTable.ajax.reload( null, false);
        }, 1000 );
    });
</script>

{% endblock content %}
