{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">Records</h5>
            </div>
            
        </div>
    </div>
    
</div>
<!-- [ breadcrumb ] end -->
<div class="row">
    

    <div class="col-xs-12">
        <table id="myDataTable" class="display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2" >No.</th>
                    <th rowspan="2" >Symbol</th>
                    <th rowspan="2" >Current<br> Price<br>(USD)</th>
                    
                    <th rowspan="2" >Market <br>cap<br>(mil $)</th>
                    <th rowspan="2" >Volume <br>24H<br>(mil $)</th>
                    <th rowspan="2" >Volume <br>change<br>24H (%)</th>
                    <th rowspan="2" >Volume/<br>Market<br> cap</th>
                    <th rowspan="2" >Funding <br>rate <br>(%)</th>
                    <th rowspan="2" >Long <br>Short<br>Ratio</th>
                    <th colspan="11" >% change</th>
                    
                    
                    
                    
                    <!-- Add more table headers as needed -->
                </tr>
                <tr>
                    <th >1'</th>                    
                    <th >3'</th>                    
                    <th >5'</th>
                    <th >15'</th>
                    <th >1H</th>
                    <th >6H</th>
                    <th >12H</th>
                    <th >1D</th>
                    <th >2D</th>
                    <th >4D</th>
                    <th >7D</th>
                    
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <!-- <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot> -->
        </table>
    </div>
    
</div>

<!-- [ Main Content ] end -->

<script>
    $(document).ready(function() {
        $.fn.dataTable.ext.errMode = 'none';
        function numberRender(data, type, row) {
            if(data != undefined){
                return '&nbsp;&nbsp;' + ' ' + Math.round(data * 10000) / 10000;
                
            }
        }
        function FundingRateRender(data, type, row) {
            
            if(data != undefined){
                if(row.ffr != undefined && row.ffr == true){
                    var backgroundColor = 'pink'; // Example color value
                    if(row.allok != undefined && row.allok == true){
                        backgroundColor = 'lightgreen'; // Example color value
                    }
                    if(row.c1000 == 0){

                        return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + "<a href='https://www.binance.com/en/futures/" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>" + '</span>';
                    }
                    else{
                        return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + "<a href='https://www.binance.com/en/futures/1000" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>" + '</span>';
                    }
                    
                }
                else{

                    if(row.c1000 == 0){

                        return "<a href='https://www.binance.com/en/futures/" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                    }
                    else{
                        return "<a href='https://www.binance.com/en/futures/1000" + row.symbol + "USDT' target='_blank'>" + Math.round(data * 10000) / 10000 + "</a>";
                    }
                    
                }
                
                
            }
            
        }
        coindataTable = $('#myDataTable').DataTable(
            {
                "paging": true,
                "autoWidth": true,
                suppressWarnings: false,
                
                columns: [
                    { data: 'no'},
                    { data: 'symbol',
                        render: function(data, type, row) {
                            if(data != undefined){
                                if(row.coinflag != undefined && row.coinflag == true){
                                    var backgroundColor = 'pink'; // Example color value
                                    if(row.allok != undefined && row.allok == true){
                                        backgroundColor = 'lightgreen'; // Example color value
                                    }
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + "<a href='https://www.binance.com/en/trade/" + data + "_USDT?theme=dark&type=spot' target='_blank'>" + data + "</a>" + '</span>';
                                }
                                else{
                                    return "<a href='https://www.binance.com/en/trade/" + data + "_USDT?theme=dark&type=spot' target='_blank'>" + data + "</a>";
                                }
                                
                            
                            }
                    } }, //or { data: 'MONTH', title: 'Month' }`
                    { data: 'price' ,
                        render: function(data, type, row) {
                            
                            
                        if(data != undefined){
                                return Math.round(data * 10000) / 10000;
                        }
                            
                    }},
                    { data: 'market_cap',
                        render: function(data, type, row) {
                            
                            if(row.ad != undefined && row.ad == 1 && row.ad_market_cap != undefined && row.ad_market_cap == true){
                                    var backgroundColor = 'lightblue'; // Example color value
                                    
                                    // Return the cell content with the specified background color
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.fmc != undefined && row.fmc == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10) / 10;
                                }
                            }
                    } },
                    { data: 'vol_24h',
                        render: function(data, type, row) {
                            
                            if(row.ad != undefined && row.ad == 1 && row.ad_vol_24h != undefined && row.ad_vol_24h == true){
                                    var backgroundColor = 'lightblue'; // Example color value
                                    
                                    // Return the cell content with the specified background color
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.fvol_24h != undefined && row.fvol_24h == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10) / 10;
                                }
                            }
                    } },
                    { data: 'vol' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_vol != undefined && row.ad_vol == true){
                                    var backgroundColor = 'lightblue'; // Example color value
                                    
                                    // Return the cell content with the specified background color
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.fvol != undefined && row.fvol == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10) / 10;
                                }
                                
                            }
                            
                        }},
                        { data: 'vm' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_vm != undefined && row.ad_vm == true){
                                    var backgroundColor = 'lightblue'; // Example color value
                                    
                                    // Return the cell content with the specified background color
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.fvm != undefined && row.fvm == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                                
                            }
                            
                        }},
                        { data: 'fr' ,
                            render: FundingRateRender,
                            
                        },
                           
                        { data: 'ls' ,
                            render: function(data, type, row) {
                                if(row.ad != undefined && row.ad == 1 && row.ad_ls != undefined && row.ad_ls == true){
                                    var backgroundColor = 'lightblue'; // Example color value
                                    
                                    // Return the cell content with the specified background color
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                                }
                                else if(row.fls != undefined && row.fls == true){
                                    var backgroundColor = 'pink'; // Example color value
                                    if(row.allok != undefined && row.allok == true){
                                        backgroundColor = 'lightgreen'; // Example color value
                                    }
                                    // Return the cell content with the specified background color
                                    return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                                }
                                else{
                                    if(data != undefined){
                                        return Math.round(data * 10) / 10;
                                    }
                                }
                            
                        }},
                        { data: '1m',
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_1m != undefined && row.ad_1m == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f1m != undefined && row.f1m == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                                
                            }
                            
                        }
                    },
                    { data: '3m',
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_3m != undefined && row.ad_3m == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f3m != undefined && row.f3m == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                        }
                    },
                    { data: '5m' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_5m != undefined && row.ad_5m == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f5m != undefined && row.f5m == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                        }},
                    { data: '15m' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_15m != undefined && row.ad_15m == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f15m != undefined && row.f15m == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                        }},
                    { data: '1h' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_1h != undefined && row.ad_1h == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f1h != undefined && row.f1h == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                        }},
                    { data: '6h' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_6h != undefined && row.ad_6h == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f6h != undefined && row.f6h == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                    }},
                    { data: '12h' ,
                    render: function(data, type, row) {
                        if(row.ad != undefined && row.ad == 1 && row.ad_12h != undefined && row.ad_12h == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                        else if(row.f12h != undefined && row.f12h == true){
                            var backgroundColor = 'pink'; // Example color value
                            if(row.allok != undefined && row.allok == true){
                                backgroundColor = 'lightgreen'; // Example color value
                            }
                            // Return the cell content with the specified background color
                            return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                        }
                        else{
                            if(data != undefined){
                                    return Math.round(data * 10000) / 10000;
                            }
                        }
                        
                    }},
                    { data: '1d' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_1d != undefined && row.ad_1d == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f1d != undefined && row.f1d == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                        }},
                    { data: '2d' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_2d != undefined && row.ad_2d == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f2d != undefined && row.f2d == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                        }},
                
                    { data: '4d' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_4d != undefined && row.ad_4d == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f4d != undefined && row.f4d == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                        
                    }},
                    { data: '7d' ,
                        render: function(data, type, row) {
                            if(row.ad != undefined && row.ad == 1 && row.ad_7d != undefined && row.ad_7d == true){
                                var backgroundColor = 'lightblue'; // Example color value
                                
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else if(row.f7d != undefined && row.f7d == true){
                                var backgroundColor = 'pink'; // Example color value
                                if(row.allok != undefined && row.allok == true){
                                    backgroundColor = 'lightgreen'; // Example color value
                                }
                                // Return the cell content with the specified background color
                                return '<span style="background-color: ' + backgroundColor + ';display: block; width: 100%; height: 100%;">' + Math.round(data * 10000) / 10000 + '</span>';
                            }
                            else{
                                if(data != undefined){
                                        return Math.round(data * 10000) / 10000;
                                }
                            }
                            
                    }},
                    {
                        data: 'count',
                        visible: false
                    }

                ],
                
            }
            
        );
        $('#myDataTable').on( 'error.dt', function ( e, settings, techNote, message ) {
            console.log( 'An error has been reported by DataTables: ', message );
        } ) ;
        
        function updateDataTable() {
            // Make an AJAX request to get updated data from the server
            $.ajax({
                url: '{% url "get_coindata_user"%}', // Replace with your server endpoint URL
                type: 'GET',
                dataType: 'json',
                
                success: function(response) {
                    
                    // Clear existing DataTable data
                    coindataTable.clear();
                    var coindata = response.data;
                    var settings = response.settings;
                    
                    var count = 0;
                    for(var key in settings)
                        if(settings.hasOwnProperty(key))
                            count++;
                    var rows = [];
                    count = count -2;
                    var ok_symbols = [];
                    coindata.forEach(function(rowData) {
                        var ok_count = 0;
                        rowflag = false;
                        for (var key in settings) {
                            
                            if (key != 'tlg' && key.substring(0,1) != 't' && key != 'mc' && key != 'coins') {
                                operand = parseInt(settings[key]);
                                flag = false;
                                switch (operand) {
                                    case 1:
                                        rowData['f' + key] = flag = rowData[key] > parseFloat(settings['t' + key]);
                                        break;
                                    case 2:
                                        rowData['f' + key] = flag = rowData[key] < parseFloat(settings['t' + key]);
                                        break;
                                    case 3:
                                        rowData['f' + key] = flag = rowData[key] >= parseFloat(settings['t' + key]);
                                        break;
                                    case 4:
                                        rowData['f' + key] = flag = rowData[key] <= parseFloat(settings['t' + key]);
                                        break;
                                }

                                if(flag){
                                    rowData['gg'] = key;
                                    rowflag = true;
                                    ok_count++;
                                }

                            }
                            if (key == 'mc') {
                                operand = parseInt(settings[key]);
                                flag = false;
                                switch (operand) {
                                    case 1:
                                        rowData['f' + key] = flag = rowData['market_cap'] > parseFloat(settings['t' + key]);
                                        break;
                                    case 2:
                                        rowData['f' + key] = flag = rowData['market_cap'] < parseFloat(settings['t' + key]);
                                        break;
                                    case 3:
                                        rowData['f' + key] = flag = rowData['market_cap'] >= parseFloat(settings['t' + key]);
                                        break;
                                    case 4:
                                        rowData['f' + key] = flag = rowData['market_cap'] <= parseFloat(settings['t' + key]);
                                        break;
                                }

                                if(flag){
                                    rowflag = true;
                                    ok_count++;
                                }

                            }
                            
                            

                        }
                        // console.log(rowData);
                        // console.log(settings);
                        
                        if(rowflag == true && ok_count > 0){
                            
                            rowData['count'] = ok_count;
                            if(ok_count == count/2){
                                rowData['count'] = ok_count;
                                rowData['allok'] = true;
                                if(settings['coins'] != ""){
                                    if (rowData['coinflag'] == true){
                                        ok_count = ok_count+1;
                                        rowData['count'] = ok_count;
                                    }
                                    else{
                                        rowData['allok'] = false;
                                    }
                                }
                            }
                            
                            if (rowData['ad'] == 1){
                                ok_count = ok_count + 20
                                rowData['count'] = ok_count;
                            }
                            rows.push(rowData);
                            
                        }
                        else{
                            if(settings['coins'] != ""){
                                if (rowData['coinflag'] == true){
                                    if (rowData['ad'] == 1){
                                        ok_count = ok_count + 20
                                    }
                                    rowData['count'] = ok_count+1.5;
                                    rowflag = true;
                                    
                                    rows.push(rowData);
                                }
                               
                            }
                            else{
                                if (rowData['ad'] == 1){
                                    rowflag = true;
                                    ok_count = ok_count + 20
                                    rowData['count'] = ok_count;
                                    rows.push(rowData);
                                }
                            }
                        }
                        
                        
                    });
                    
                    for(var i = 0; i < rows.length; i++){
                        coindataTable.row.add(rows[i]);
                    }
                    
                    coindataTable.order([[20, 'desc']]).draw(false);// Redraw the DataTable
                    // coindataTable.draw();
                    $("li.paginate_button.page-item").blur();
                    
                    
                    
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        coindataTable.on('page.dt', function() {
            // $('html, body').animate({
            //     scrollTop: $(".dataTables_wrapper").offset().bottom
            // }, 'slow');

            $('thead tr th:first-child').focus().blur();
        });
        updateDataTable()
        setInterval(updateDataTable, 2000);
    });
</script>
{% endblock content %}